body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #202020;
}

.pieces {
  padding: 40px;
  border-radius:80%;
  background: greenyellow;
  position: absolute;
  right: 40%;
  animation: pieces 1s linear infinite;
}

.one {
  position: absolute;
  top: 50.5%;
  left: 30%;
  background: yellow;
  border-radius: 0 0 125px 125px;
  height: 125px;
  width: 250px;
  animation: anim1 1s linear infinite;
}

.two {
  position: absolute;
  top: 36.5%;
  left: 30%;
  background: yellow;
  border-radius: 125px 125px 0 0;
  height: 125px;
  width: 250px;
  animation: anim2 1s linear infinite;
}

.eye {
  position: absolute;
  right:90%;
  top: 40%;
  background: red;
  padding: 12px;
  border-radius: 90%;
  animation: eye 1s linear infinite;
}



